<%= form_for @child, html: { multipart: true } do |f| %>
  <p>
    <label>My Avatar</label>
    <%= image_tag(@child.avatar_url) if @child.avatar? %>
    <%= f.file_field :avatar %>
    </p>
    <%= submit_tag :upload %>
<% end %>
