<p>
  <strong>Child Details</strong>
  <br>
  Name: <%= @child.name %>
  <br>
  Age: <%= @child.age %>
  <br>
  contact_no: <%= @child.contact_no %>
  <br>
  <img src=<%="/data/#{@child.avatar.file.filename}"%>>
</p>
 
